[tool.poetry]
name = "dbx_demand_forecast"
version = "0.1.0"
description = ""
authors = ["Diego Alberto Garrido Amaya <diego.garrido.6568@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.10"
pyyaml = "*"
darts = "0.23.1"

# there is no need to install them on Databricks, there are already available
[tool.poetry.group.dev.dependencies]
pyspark = "3.3.1"
delta-spark = "2.2.0"
pyarrow = ">=7.0.0"
scikit-learn = "*"
pandas = "*"
mlflow = "*"
black = "^22.3.0"
flake8 = "6.0.0"
isort = "5.12.0"

[tool.poetry.group.test.dependencies]
pytest = "*"
coverage ="*"
pytest-cov = "*"
dbx = "^0.8.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.mansonry.api"

[tool.poetry.plugins."console_scripts"]
"ingest" = "dbx_demand_forecast.tasks.ingest:entrypoint"
"split" = "dbx_demand_forecast.tasks.split:entrypoint"
"naive_model" = "dbx_demand_forecast.tasks.naive_model:entrypoint"
"evaluation" = "dbx_demand_forecast.tasks.evaluation:entrypoint"

[tool.pytest.ini_options]
addopts = "--import-mode=importlib -s -p no:warnings"
log_cli = 1
log_cli_level = "INFO"
log_cli_format = "[pytest][%(asctime)s][%(levelname)s][%(module)s][%(funcName)s] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
log_level = "INFO"
pythonpath = ["."]

[tool.black]
line-length = 79

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 79

[tool.coverage.run]
branch = true
source = [
    "dbx_demand_forecast"
]

[tool.coverage.report]

exclude_lines = [
    "if self.debug:",
    "pragma: no cover",
    "raise NotImplementedError",
    "if __name__ == .__main__.:"
]

ignore_errors = true
omit = [
    "tests/*",
    "setup.py",
    "dbx_gen_prospector/common.py",
    # this file is autogenerated by dbx
    "dbx_demand_forecast/common.py"
]
